@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('../src/assets/fonts/Satoshi-Regular.otf');
}

@theme {
    --font-satoshi: Satoshi, "sans-serif";
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 4px 16px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.nav-link {
    position: relative;
    /* CRITICAL: This anchors the lines to the text */
    cursor: pointer;
}

.nav-link::after,
.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.nav-link::before {
    top: -5px;
    transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before {
    transform: scaleX(1);
}